archive/
__pycache__/
csvs/
todo.txt
*.pth
.vscode
ROC/
no_weight.txt
weight.txt
models/result_pth/
models/result_h5/
result_h5
models/result_paddle
qt_theme_test/build
tmp_examples/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*/*/*/*/__pycache__/
to_be_predicted/
archive.zip

